<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
{% load static %}

<h1>Welcome</h1>
<p>Glad you're here! I'm Vikas Mudhgil.
<p>I like to listen to music, travel to new places, meet new people, pet cats, and I also love tinkering with technology in my free time.</p>
<p>This site was created from the sole purpose of having my own space, to have spotlight on myself...hehe. Anyways, you can always check this site to know what the hell am I doing nowadays.
    This is a public blog where I share my thougts and activities. This is my little corner in the vastness of internet. idding, relax, hangout and see what i've posted. Have a nice day!
</p>
<p>Reach out at vmudhgil@gmail.com!</p>
</p>

{% endblock %}
